<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">


</head>
<body>
    {{>header}}

    <div class="wrap">
   <form class="search">
      <input type="text" class="searchTerm" placeholder="Type in a city to view its current weather">
      <button type="submit" class="searchButton"> Search
     </button>
   </form>
  <p id = "message-1"></p>
  <p id = "message-2"> </p>
</div>
<script src="/js/app.js"> </script>
</body>
</html>